* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  list-style: none;
  padding-left: 0;
}
.item{
margin: 24px;
border-radius: 8px;
padding: 8px;
width: 392px;
background-color: #f6f6fe;
}
.item h2{
margin: 8px 8px 16px;
font-family: "Montserrat", sans-serif;
font-size: 24px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #2e2f42;
}
.item ul{
  list-style: none;
  padding: 0;
}
.item ul li{
border: 1px solid #808080;
border-radius: 4px;
max-width: 360px;
height: 40px;
padding: 8px;
margin: 8px;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.04em;
font-family: "Montserrat", sans-serif;
}